.header-icon {
    padding: 0 14px;
  }
  
  .header-spacer {
    flex: 1 1 auto;
  }
 .flag {
    width: 21px;
    height: 21px;
    border-radius: 50%;
    position: relative;
    top: 5px;
    margin-right: 10px;
}
.mat-toolbar {
  background: #091b3c;
  color: #fff;
}
:host /deep/ .mat-slide-toggle-bar {
  background-color: rgba(129, 129, 129, 0.76);
}

@media only screen and (max-width: 767px) {
  .fullscreen-btn{
      display: none;
  }
  .welcome-msg, :host /deep/ span.mat-slide-toggle-content{
    font-size: 12px;
  }
}