<mat-toolbar>
  <mat-toolbar-row>

    <button class="menu-btn" mat-icon-button (click)="fireToggleMenu()">
      <mat-icon>menu</mat-icon>
    </button>

    <span class="welcome-msg">
      Hexad Rating System
    </span>
    <span class="header-spacer"></span>

    <mat-slide-toggle class="example-margin" [color]="'warn'" (click)="toggleRandomRating()">
      Random Rating
    </mat-slide-toggle>


    <mat-menu #menu="matMenu">
    </mat-menu>


    <button class="fullscreen-btn" mat-icon-button aria-label="Example icon-button with a menu" (click)="toggleFullScreen()">
      <mat-icon *ngIf="!fullscreen">fullscreen</mat-icon>
      <mat-icon *ngIf="fullscreen">fullscreen_exit</mat-icon>
    </button>


  </mat-toolbar-row>
</mat-toolbar>