.mat-nav-list .mat-list-item {
    cursor: pointer;
    outline: 0;
    border-bottom: 1px solid #333;
    color: #fff
}
.profile .profile-img img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
}
.profile .profile-img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    overflow: auto;
    position: relative;
    margin: 15px auto 0;
}
.profile strong {
    font-weight: bold;
    font-size: 21px;
    line-height: 2;
}
.profile {
    text-align: center;
    color: #fff;
    border-bottom: 2px solid #333;
    padding-bottom: 15px;
}