<div class="profile">
   <div class="profile-img">
      <img src="./assets/john.jpg" />
   </div>
   <div class="profile-info">
      <p>
         <strong>John Doe</strong>
      </p>
   </div>
</div>
<mat-nav-list>
   <a mat-list-item routerLink=".">
      <mat-icon>home</mat-icon> <span class="home-span">{{'home'}}</span>
   </a>
</mat-nav-list>