<div class="movies-list">
  <div *ngFor="let movie of movies$ | async | orderBy:'rating'" class="movie">
    <hexad-card (ratingClicked)="handleRatingClicked($event, movie.id)" [title]="movie.name" [subTitle]="movie.genre" [image]="movie.image" [rating]="movie.rating"></hexad-card>
  </div>
</div>