.movies-list{
    margin-top: 30px
}
.movie{
    width: 25%;
    float: left;
    padding: 0 30px;
    margin-bottom: 30px;
    box-sizing: border-box
}

@media only screen and (max-width: 1670px) {
    .movie{
        width: 33.3333%;
    }
}

@media only screen and (max-width: 1199px) {
    .movie{
        width: 50%;
    }
}
@media only screen and (max-width: 767px) {
    .movie{
        width: 100%;
    }
}