.rating {
    unicode-bidi: bidi-override;
    direction: rtl;
    font-size: 30px;
    position: relative;
    top: -15px;
    margin-right: 20px;
    background: rgba(255, 255, 255, 0.75);
    padding-right: 15px;
    border-radius: 0 4px 4px 0
  }
  .rating > span {
    display: inline-block;
    position: relative;
    cursor: pointer;
    width: 1.1em;
    color: #f2a800;
    text-shadow: 0px 0px 6px rgba(0, 0, 0, 0.17);
  }
  .rating > span:hover:before,
  .rating > span:hover ~ span:before,
  .rating > span.rated:before,
  .rating > span.rated ~ span:before {
     content: "\2605";
     position: absolute;
  }