.layout-container {
    width: 100%;
    height: calc(100vh - 92px);
    background-image: url('https://i.pinimg.com/originals/e2/f6/ca/e2f6ca8b9d70379e167cc599b5deb524.jpg');
    background-size: cover;
    background-position: center
  }
  
  .layout-sidenav-content {
    height: 100%;
    align-items: center;
    justify-content: center;
    padding: 0 35px;
  }
  
  .layout-sidenav {
    width: 300px;
    background: #404040
  }
  
  .cars-img{
    position: fixed;
    z-index: -1;
    opacity: 0.1;
    width: 100%;
    bottom: 0;
    left: 0;
    pointer-events: none;
  }