<hexad-header (toggleMenu)="drawer.toggle()"></hexad-header>
<mat-drawer-container class="layout-container" autosize>
  <mat-drawer #drawer class="layout-sidenav" mode="over">
    <hexad-side-bar></hexad-side-bar>
  </mat-drawer>

  <div class="layout-sidenav-content">
    <ng-content></ng-content>
  </div>

</mat-drawer-container>
<hexad-footer></hexad-footer>

